<nav class="fixed z-50 w-full bg-gray-800">
    <div class="px-2 mx-auto sm:px-6 lg:px-8">
      <div class="relative flex items-center justify-between h-16">
        <div class="flex items-center justify-center flex-1 sm:items-stretch sm:justify-start">
          <div class="flex items-center flex-shrink-0">
            <h1 class="text-2xl text-gray-300">Tailwind Exercise</h1>
          </div>
          <div class="hidden sm:block sm:ml-6">
            <div class="flex space-x-3">

              <a href="/" class="<%=page_name === 'exercise1' && 'bg-red-700' %> text-gray-300 hover:bg-red-700 hover:text-white px-4 py-2 rounded-md text-sm font-medium" aria-current="page">Ex 1</a>

              <a href="/exercise-2" class="<%=page_name === 'exercise2' && 'bg-red-700' %> text-gray-300 hover:bg-gray-700 hover:text-white px-4 py-2 rounded-md text-sm font-medium" aria-current="page">Ex 2</a>

              <a href="/exercise-3" class="<%=page_name === 'exercise3' && 'bg-red-700' %> text-gray-300 hover:bg-gray-700 hover:text-white px-4 py-2 rounded-md text-sm font-medium" aria-current="page">Ex 3</a>

              <a href="/exercise-4" class="<%=page_name === 'exercise4' && 'bg-red-700' %> text-gray-300 hover:bg-gray-700 hover:text-white px-4 py-2 rounded-md text-sm font-medium" aria-current="page">Ex 4</a>

              <a href="/exercise-5" class="<%=page_name === 'exercise5' && 'bg-red-700' %> text-gray-300 hover:bg-gray-700 hover:text-white px-4 py-2 rounded-md text-sm font-medium" aria-current="page">Ex 5</a>

              <a href="/exercise-6" class="<%=page_name === 'exercise6' && 'bg-red-700' %> text-gray-300 hover:bg-gray-700 hover:text-white px-4 py-2 rounded-md text-sm font-medium" aria-current="page">Ex 6</a>

              <a href="/exercise-7" class="<%=page_name === 'exercise7' && 'bg-red-700' %> text-gray-300 hover:bg-gray-700 hover:text-white px-4 py-2 rounded-md text-sm font-medium" aria-current="page">Ex 7</a>

              <a href="/exercise-8" class="<%=page_name === 'exercise8' && 'bg-red-700' %> text-gray-300 hover:bg-gray-700 hover:text-white px-4 py-2 rounded-md text-sm font-medium" aria-current="page">Ex 8</a>

              <a href="/exercise-9" class="<%=page_name === 'exercise9' && 'bg-red-700' %> text-gray-300 hover:bg-gray-700 hover:text-white px-4 py-2 rounded-md text-sm font-medium" aria-current="page">Ex 9</a>

              <a href="/exercise-10" class="<%=page_name === 'exercise10' && 'bg-red-700' %> text-gray-300 hover:bg-gray-700 hover:text-white px-4 py-2 rounded-md text-sm font-medium" aria-current="page">Ex 10</a>

              <a href="/exercise-11" class="<%=page_name === 'exercise11' && 'bg-red-700' %> text-gray-300 hover:bg-gray-700 hover:text-white px-4 py-2 rounded-md text-sm font-medium" aria-current="page">Ex 11</a>

              <a href="/exercise-12" class="<%=page_name === 'exercise12' && 'bg-red-700' %> text-gray-300 hover:bg-gray-700 hover:text-white px-4 py-2 rounded-md text-sm font-medium" aria-current="page">Ex 12</a>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>